/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html * {
  font-family: "Raleway", sans-serif;
}
body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 95%;
  max-width: 1400px;
}

/* HEADER */
header {
  margin-top: 2px;
  height: 100px;
}
.header_logo_container {
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}
.header_logo {
  height: 19px;
}
.header_buttons {
  float: right;
  height: 100%;
  display: flex;
}
.header_button {
  border: none;
  background: none;
  font-size: 16px;
  padding: 0 30px;
}
.header_button:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  margin-top: -2px;
}
.header_button_link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  /* HEADER */
  header {
    flex-direction: column;
  }
  .header_logo_container {
    float: auto;
  }
  .header_logo {
    margin-top: 20px;
  }
  .header_buttons {
    height: 60px;
    width: 100%;
    margin-top: 35px;
  }
  .header_button {
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
  }
  .header_button:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
    margin-bottom: -2px;
    background-color: none;
  }
}
