/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html {
  scroll-behavior: smooth;
}
html * {
  font-family: "Raleway", sans-serif;
}
body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
header {
  max-width: 1400px;
  width: 100%;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  padding: 0 2.5%;
  box-sizing: border-box;
}
.header-logo-container {
  height: 100px;
  float: left;
  display: flex;
  align-items: center;
}
.header-logo {
  height: 19px;
}
.header-buttons {
  height: 100px;
  display: flex;
}
.header-button {
  border: none;
  background: none;
  font-size: 16px;
  overflow-x: hidden;
}
.header-button:hover {
  border-top: 2px solid #0065fc;
  margin-top: -2px;
}
.header-button-link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}
.header-button-link:hover {
  color: #0065fc;
}

/* NAV FILTERS */
.nav-filters {
  width: 95%;
}
.form-input-group {
  display: flex;
}
.form-input-group .left-logo {
  height: 50px;
  width: 50px;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  width: 218px;
  font-weight: 700;
  font-size: 18px;
  padding-left: 14px;
  border: 2px solid #f2f2f2;
  border-right: none;
}
.search-input:focus {
  border: 2px solid #f2f2f2;
  border-right: none;
  outline: none;
}
.submit-button {
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 18px;
  padding: 0 17px;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}
.submit-button-mobile {
  font-size: 16px;
  display: none;
}
.filters {
  display: flex;
}
.filters-title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.filters-container {
  display: flex;
  flex-wrap: wrap;
}
.filter-element {
  display: flex;
  padding: 0 20px;
  height: 48px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  transition: 0.4s;
  margin-left: 30px;
  cursor: pointer;
  margin-top: 25px;
}
.filter-element:hover {
  background-color: #deebff;
}
.filter-element i {
  display: flex;
  align-items: center;
  color: #0065fc;
}
.filter-element p {
  margin-left: 10px;
  font-weight: 700;
}
.filter-result {
  display: flex;
  margin-top: 20px;
}
.filter-result p {
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.filter-result i {
  border: 2px solid #f2f2f2;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}

/* HEBERGEMENT */
.hebergements-container {
  display: flex;
  margin-top: 30px;
  width: 95%;
  justify-content: space-between;
}
.hebergements {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.main-hebergements {
  width: 65%;
}
.famous-hebergements {
  width: 32%;
}
.hebergements-content {
  width: 100%;
  padding: 40px;
}
.hebergements-title {
  margin-top: 10px;
  margin-bottom: 0;
}
.hebergements-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hebergements-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hebergements-header i {
  font-size: 20px;
  color: #0065fc;
}
/* cards */
.card-container {
  width: 30%;
  margin-top: 4%;
  text-decoration: none;
  color: black;
}
.card-container:visited {
  color: black;
}
.card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 0 10px 3px #e5e5e5;
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.03);
}

.card-horizontal {
  width: 100%;
  margin-top: 8%;
  min-width: 230px;
}
.card-horizontal .card {
  display: flex;
}
.card-image {
  display: block;
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  transition: 0.3s;
}
.card-horizontal .card-image {
  height: 140px;
  width: 40%;
  min-width: 40%;
  border-radius: 18px 0 0 18px;
}
.card-horizontal .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.card-body {
  padding: 10px;
}
.card-horizontal .card-body {
  width: 60%;
}
.card-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
.star-rating {
  font-size: 10px;
  color: #0065fc;
}
.star-rating i:last-child {
  color: #f2f2f2;
}
.load-more {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 32px;
  cursor: pointer;
}
/* ACTIVITES */
.activites-container {
  width: 95%;
  margin-top: 40px;
}

.activites-list {
  display: flex;
  justify-content: space-between;
}
.image-only-card .card {
  padding: 0;
}
.image-only-card {
  width: 22%;
  margin-top: 0;
}
.image-only-card .card-image {
  height: 389px;
}
.image-only-card .card-body .card-title {
  margin-bottom: 0;
  padding: 5px;
}

/* FOOTER */
footer {
  margin-top: 60px;
  width: 95%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
}
.footer-section {
  width: 33%;
  padding-left: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-title {
  font-weight: 700;
  font-size: 18px;
}
.footer-link-container {
  display: flex;
  flex-direction: column;
}
.footer-link {
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  margin-bottom: 12px;
  cursor: pointer;
}
/* ******** */
/* TABLETTE */
/* ******** */
@media (max-width: 992px) {
  /* containers */
  header,
  .nav-filters,
  .hebergements-container,
  .activites-container,
  footer {
    width: 90%;
  }
  .hebergements-container {
    flex-direction: column;
  }
  .hebergements {
    width: 100%;
  }
  .famous-hebergements {
    margin-top: 50px;
  }
  .card-horizontal {
    width: 30%;
    margin-top: 4%;
  }
  .image-only-card .card-image {
    height: 211px;
  }
}

@media (max-width: 916px) {
  .card-horizontal {
    width: 46%;
  }
}

/* ****** */
/* MOBILE */
/* ****** */
@media (max-width: 768px) {
  /* NAV FILTERS */
  .nav-filters {
    width: 92%;
  }
  /* HEADER */
  header {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header-logo-container {
    height: 50px;
  }
  .header-logo {
    margin-top: 20px;
  }
  .header-buttons {
    height: 60px;
    width: 100%;
    margin-top: 25px;
  }
  .header-button {
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
  }
  .header-button:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
    margin-bottom: -2px;
    background-color: unset;
  }
  .header-button-link {
    padding: 0;
    justify-content: center;
  }

  /* CONTAINERS */
  .hebergements-container,
  .card-container,
  .activites-container,
  footer {
    width: 100%;
  }
  /* NAV FILTERS */
  .submit-button-desktop {
    display: none;
  }
  .submit-button-mobile {
    display: flex;
  }

  .filters {
    flex-direction: column;
    margin-top: 20px;
  }
  .filters-container {
    justify-content: space-around;
  }
  .filter-element {
    width: 35%;
    margin-left: 0;
  }
  .filter-element:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .filter-element p {
    font-size: 13px;
    display: flex;
    align-items: center;
  }

  /* HEBERGEMENTS */
  .hebergements-container {
    flex-direction: column-reverse;
  }
  .hebergements-content {
    padding: 20px;
  }
  .famous-hebergements {
    margin-top: 0;
  }
  .main-hebergements {
    background-color: white;
  }
  .hebergements {
    border-radius: unset;
  }
  .load-more {
    display: none;
  }
  /* ACTIVITIES */
  .activites-container h2 {
    margin-left: 20px;
    margin-bottom: 0;
  }
  .activites-list {
    flex-direction: column;
    padding: 20px;
  }
  .image-only-card {
    margin-top: 20px;
  }
  .image-only-card .card-image {
    height: 134px;
  }

  /* FOOTER */
  footer {
    flex-direction: column;
    padding: 25px 0;
  }
  .footer-section {
    width: auto;
    margin: 0;
  }
}
/*  */
