/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html * {
  font-family: "Raleway", sans-serif;
}
body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 95%;
  max-width: 1400px;
}

/* HEADER */
header {
  max-width: 1400px;
  width: 95%;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}
.header_logo_container {
  height: 100px;
  float: left;
  display: flex;
  align-items: center;
}
.header_logo {
  height: 19px;
}
.header_buttons {
  height: 100px;
  display: flex;
}
.header_button {
  border: none;
  background: none;
  font-size: 16px;
  padding: 0 30px;
}
.header_button:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  margin-top: -2px;
}
.header_button_link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* NAV FILTERS */
.form_input_group {
  display: flex;
}
.form_input_group .left_logo {
  height: 50px;
  width: 50px;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_input {
  width: 218px;
  font-weight: 700;
  font-size: 18px;
  padding-left: 14px;
  border: 2px solid #f2f2f2;
  border-right: none;
}
.search_input:focus {
  border: 2px solid #f2f2f2;
  border-right: none;
  outline: none;
}
.submit_button {
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 18px;
  padding: 0 17px;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}
.submit_button_mobile {
  font-size: 16px;
  display: none;
}
.filters {
  display: flex;
}
.filters_title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.filters_container {
  display: flex;
  flex-wrap: wrap;
}
.filter_element {
  display: flex;
  padding: 0 20px;
  height: 48px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  transition: 0.4s;
  margin-left: 30px;
  cursor: pointer;
  margin-top: 25px;
}
.filter_element:hover {
  background-color: #deebff;
}
.filter_element i {
  display: flex;
  align-items: center;
  color: #0065fc;
}
.filter_element p {
  margin-left: 10px;
  font-weight: 700;
}
.filter_result {
  display: flex;
  margin-top: 20px;
}
.filter_result p {
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.filter_result i {
  border: 2px solid #f2f2f2;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}
@media (max-width: 992px) {
}

@media (max-width: 768px) {
  /* MAIN */
  main {
    width: 92%;
  }
  /* HEADER */
  header {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header_logo_container {
    height: 50px;
  }
  .header_logo {
    margin-top: 20px;
  }
  .header_buttons {
    height: 60px;
    width: 100%;
    margin-top: 25px;
  }
  .header_button {
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
  }
  .header_button:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
    margin-bottom: -2px;
    background-color: none;
  }

  /* NAV FILTERS */
  .submit_button_desktop {
    display: none;
  }
  .submit_button_mobile {
    display: flex;
  }

  .filters {
    flex-direction: column;
    margin-top: 20px;
  }
  .filters_container {
    justify-content: space-around;
  }
  .filter_element {
    width: 35%;
    margin-left: 0;
  }
  .filter_element p {
    font-size: 13px;
    display: flex;
    align-items: center;
  }
}
